<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<application>
		<provider
			android:name="net.amunak.calsynx.data.sync.FakeCalendarProvider"
			android:authorities="net.amunak.calsynx.test.calendar"
			android:exported="true" />
	</application>
</manifest>
